<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../Style/About.css">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Welcome to Department of Agriculture<br>

At Department of Agriculture, we are deeply rooted in the world of agriculture. For 15 years, we have 
been dedicated to fostering sustainable farming practices, empowering rural communities, and ensuring a brighter, greener future for all.
Our mission is simple to provide farmers, growers, and agricultural enthusiasts with the tools, knowledge, and support they need to
thrive. We are committed to promoting sustainable and environmentally-friendly farming practices, ensuring food security, and creating 
opportunities for rural prosperity.
            <div class="skills">
                <a href="Contact.html"><button>Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>