<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fruits</title>
	<link rel="stylesheet" type="text/css" href="../Style/Fruits.css">
</head>
<body>
	<section class="products">
		<h2>Fruits</h2>
		<div class="all-products">
			<div class="product">
				<img src="../Images/img17.jpg">
				<div class="product-info">
					<h4 class="product-title">Mango
					</h4>
					<p class="product-price">100g-Rs.35</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img18.jpg">
				<div class="product-info">
					<h4 class="product-title">Banana
					</h4>
					<p class="product-price">1kg-Rs.400</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img19.jpg">
				<div class="product-info">
					<h4 class="product-title">Avacado
					</h4>
					<p class="product-price">100g-Rs.25</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img16.jpg">
				<div class="product-info">
					<h4 class="product-title">Papaya
						</h4>
					<p class="product-price">1kg-Rs.150</Rs></p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
