<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="../Style/Home.css">
</head>

<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="../Images/img1.jpg">
				<ul>
					<li><a class="active" href="#">Home</a></li>
                    <li><a href="Service.html">Services</a></li>
                    <li><a href="Products.php">Products</a></li>
                    <li>
                       <a href="Contact.html">Contact</a>  

                        <div class="contact-dropdown">
                            <ul>
                                <li><a href=""><div>Telephone</div></a></li>
                                <li><a href=""><div>Email Address</div></a></li>
                                <li><a href=""><div>Office Address</div></a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="about.html">About us</a></li>
					<li><a href="../Control/logout.php">Logout</a></li>
				</ul>
			</nav>
			<div class="center">
			<h1>Department of Agriculture</h1>
			<h2>The backbone of our nation</h2>
			<div class="buttons">
			<a href="login.html"><button>Login</button></a>
			<a href="register.html"><button class="btn2">Register</button></a>
		</div>
		</div>
</body>
</html>