<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Legumes</title>
	<link rel="stylesheet" type="text/css" href="../Style/Legums.css">
</head>
<body>
	<section class="products">
		<h2>Legumes</h2>
		<div class="all-products">
			<div class="product">
				<img src="../Images/img26.jpg">
				<div class="product-info">
					<h4 class="product-title">Mung Bean
					</h4>
					<p class="product-price">1kg-Rs.1400</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img28.jpg">
				<div class="product-info">
					<h4 class="product-title">Soya Bean
					</h4>
					<p class="product-price">1kg-Rs.800</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img29.jpg">
				<div class="product-info">
					<h4 class="product-title">Cowpea
					</h4>
					<p class="product-price">1kg-Rs.900</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img30.jpg">
				<div class="product-info">
					<h4 class="product-title">Black Gram
						</h4>
					<p class="product-price">1kg-Rs.800</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
