<!DOCTYPE html>
<html>

<head>
    <title>Add Inquery</title>
    <link rel="stylesheet" href="../Style/AddProduct.css">

</head>

<body>
    <div class="registration-form">
        <h1>ADD Inquery
        </h1>
        <form action="../Control/save_query.php" method="post">
            <h2>INQUERY</h2>
            <textarea type="text" name="inquery" style="width: 400px; height: 100px;"></textarea>


            <button type="submit">Submit Query </button>

        </form>
    </div>

</body>

</html>