<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Root Crops</title>
	<link rel="stylesheet" type="text/css" href="../Style/RootCrops.css">
</head>
<body>
	<section class="products">
		<h2>Root Crops</h2>
		<div class="all-products">
			<div class="product">
				<img src="../Images/img15.jpg">
				<div class="product-info">
					<h4 class="product-title">Potato
					</h4>
					<p class="product-price">1kg-Rs.350</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img31.jpg">
				<div class="product-info">
					<h4 class="product-title">Manioc
					</h4>
					<p class="product-price">1kg-Rs.200</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img32.jpg">
				<div class="product-info">
					<h4 class="product-title">Sweet Potato
					</h4>
					<p class="product-price">1kg-Rs.150</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img33.jpg">
				<div class="product-info">
					<h4 class="product-title">Kiri Ala
						</h4>
					<p class="product-price">1kg-Rs.200</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
