<!DOCTYPE html>
<html lang="en">

<head>
    <title>Service</title>
    <link rel="stylesheet" href="../Style/service.css">
</head>
<body>
<div class="container">
    <div class="box">
    <div class="icon">01</div>
    <div class="content">
        <h3>Pest Control Services</h3>
        <p>Department of agriculture Pest Management Divisionundertakes all projects and services pertaining to
             pest management and pest control in Sri Lanka, both general and specialized in nature. The Department of 
             Agriculture's Pest Management Division offers integrated pest control solutions to both industrial and domestic clients, 
             adhering to international standards. The division provides pest control solutions, including environmentally 
             friendly non-chemical barriers and chemical solutions tailored to meet customer's specific pest control requirements.
        </p>
            
    </div>
</div>
</div>
<div class="container">
<div class="box">
    <div class="icon">02</div>
    <div class="content">
        <h3>Education & Training Education</h3>
        <p>Sri Lanka's agricultural education, founded in 1916, prepares students for employment in the 
            agricultural sector with a National Vocational Qualification. The curriculum includes technical subjects like 
            crop production, horticulture, soil science, and agricultural mechanization, as well as employability modules.</p>
           
    </div>
</div>
</div>
<div class="container">
<div class="box">
    <div class="icon">03</div>
    <div class="content">
        <h3>Landscaping Solutions</h3>
        <p>For developing stunning garden spaces in your home or place of business, Hayleys Landscaping Solutions is the most 
            reliable option. As one of the most sought-after landscaping businesses in Sri Lanka, we are able to complete a wide 
            range of projects thanks to the strength of Hayleys. We are the top-rated professional landscape designer and contractor 
            in the nation thanks to our dedication to putting the needs of our clients first and our use of cutting-edge 
            landscaping techniques.

        </p>
            
    </div>
</div>
</div>

</body>
</html>