<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vegetables</title>
	<link rel="stylesheet" type="text/css" href="../Style/Vegetables.css">
</head>
<body>
	<section class="products">
		<h2>Vegetables</h2>
		<div class="all-products">
			<div class="product">
				<img src="../Images/img14.jpg">
				<div class="product-info">
					<h4 class="product-title">Carrot
					</h4>
					<p class="product-price">1kg-Rs.180</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img13.jpg">
				<div class="product-info">
					<h4 class="product-title">Tomato
					</h4>
					<p class="product-price">1kg-Rs.250</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img20.jpg">
				<div class="product-info">
					<h4 class="product-title">Beans
					</h4>
					<p class="product-price">1kg-Rs.300</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
			<div class="product">
				<img src="../Images/img21.jpg">
				<div class="product-info">
					<h4 class="product-title">Cabbage
						</h4>
					<p class="product-price">1kg-Rs.150</p>
					<a class="product-btn" href="#">Buy Now</a>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
